.orders__bgidv{
    background-color: #FFFFFF;
    padding-right: 1rem;
}
.orders__maindiv{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}
.orders__maindiv h2{
    font-size: 3rem;
    color: #1CB395;
}
.orders__maindiv p{
    margin-top: -1rem;
    font-size: 1.6rem;
    color: gray;
}
/* .table-bordered>:not(caption)>*{
    color: #1CB395;
} */
th{
    color: #1CB395;
}
.react-date-picker__wrapper{
    background: #1CB395;
    padding: 0.4rem 0rem;
    border: 1px;
    border-radius: 0.2rem;
}
.orders__datediv{
    display: flex;
    flex-direction: column;

}
.orders__selectdate{
    font-size: 1.3rem;
    margin-left: -3rem;
    font-weight: 500;
    margin-top: -1rem;
    margin-bottom: 1rem;
}
.order__viewIcon:hover{
    cursor:pointer
}
.order__viewIcon{
    color: green;
}