.Loginbutton{
    width: 100%;
    margin: 0rem auto;
    margin-top: -0.7rem;
    font-size: 1rem;

}  
.login__p{
    margin-top: 1rem !important;
   
}
.login__p span{
    color: #3F51B5;
    text-decoration: underline;
}
.login__p span:hover{
    text-decoration: auto;
    cursor: pointer;
}
.login__h1{
    margin-bottom: -0.5rem;
    font-size: 3rem !important;
    color: #1CB395 !important;
    margin-top: 10rem !important;
}
.error__msg{
    color: red !important;
}
@media screen and (max-width:486px) {
    .login__p{
        margin-right: 5rem;
    }
    
}